<!DOCTYPE html>
<html>
<head align="center">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

</head>
<body align="center" >
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                <h1 align="center">   @Html.ActionLink("Car Seller", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) </h1>
                @if (User.Identity.IsAuthenticated)
                {
                    if (@HttpContext.Current.User.Identity.Name == "meusingit@gmail.com")
                    {  <h2 style="color:wheat">Welcome Admin!</h2>
                    @Html.ActionLink("All vehicle details", "Index", "CarInfo1")}
                    else
                    {<h3 style="color:wheat">Welcome @HttpContext.Current.User.Identity.Name</h3> }
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("Logout", "Table", FormMethod.Post, new { id = "logoutForm" }))
                {
                    <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                }
            }

            <p>&copy; @DateTime.Now.Year - Carseller</p>

        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("Scripts",false)

</body>
</html>